ul.footer-menu {
    list-style-type: none;
    
}
/* .footer-menu a {
    color: #fff;
}
.page-footer h6 {
    color: #fff;
}
.page-footer p {
    color: #fff;
}
.page-footer strong {
    color: #fff;
}

.fab.fa-facebook-f{
    color: #fff; 
} */